@import url('https://fonts.googleapis.com/css?family=Merriweather');


$brand-purple: rgb(135,140,223);
$brand-green: rgb(153,251,198);
$font-size: 15px;
$merriweather: "Merriweather", sans-serif;

body {
  height: 100vh;
  background-color: #eaeaea;
  color: black;
  font-size: $font-size;
  font-weight: 900;
  font-family: $merriweather;
}

h6 {
  font-size: 2em;
}

img {
  margin-left: auto;
  margin-right: auto;
}

.astronomy-card {
  max-width: 75vw;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    .astronomy-title {
      font-size: 2em;
    }

    .astronomy-image-wrapper {
      padding: 20px;
    }

    p {
      padding: 20px;
      line-height: 1.5;
    }

    span {
      font-size: 1.25em;
      color: red;
      padding-bottom: 20px;
    }
}

.container {
  width: 100%;
  display: flex;
  .image-wrapper {
    display: inline-block;
    margin: 0 10px;
    &__image {
      width: auto;
      height: 300px;
    }
  }
}
